body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.slider{ 
     border-top: 35px #fff solid;   
     margin:auto;
     background:#BF815E;
     padding: 50px;
     width: 50%;
}

.myimg{

    margin: auto;
    display: none;
    width: 100%;
}

.myimg:first-child{
    display: block;

}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3.5s;
  animation-name: fade;
  animation-duration: 3.0s;
}

@-webkit-keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .3}
  to {opacity: 1}
}


#left , #right{
    color: brown;
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;
}
#left:hover , #right:hover{
    color:#EB2A23;
    padding: 2px;
    border: 3px #EA2C38 solid;
    border-radius: 150px;
}
#left{

    float: left;
    margin-left: 10%;
}

#right{
    float: right;
    margin-right: 10%;
}

